<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
      *{
        padding:0;
        margin:0;
      }
    </style>
  </head>
  <body>
    <table width="710" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:#cccccc 0px solid;">
      <tr>
        <td border="0" style="border:none;">
          <map id="map1" name="map1"><area shape="rectangle" coords="50,20,650,130" href="http://2012.i-comference.ru" alt="Подробнее" /></map>
          <img width="710" src="http://rocid.ru/images/mailing/icomf12/icomf_header.jpg" usemap="#map1"/>
        </td>
      </tr>
      <tr>
        <td border="0" style="border:none;" align="justify">
          <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:none;" border="0">
            <tr>
              <td width="20" height="10"><img src="http://rocid.ru/images/mailing/icomf12/blank.gif" width="20" height="10"></td>
              <td></td>
              <td width="20" height="10"><img src="http://rocid.ru/images/mailing/icomf12/blank.gif" width="20" height="10"></td>
            </tr>
            <tr>
              <td></td>
              <td align="justify">
                <h2 align="center">Бланк для писем</h2>
                <p>Написание писем в деловой сфере — это не творческое хобби, которому можно посвятить часы и дни. Деловая переписка должна быть оперативной, писать письма клиентам и отвечать на их послания нужно быстро. У активно развивающейся компании каждая минута на счету, деловое письмо должно быть написано быстро и качественно.</p>
                <p>Чтобы избавиться от необходимости тщательно подбирать фразы-клише, обдумывать всякий раз оформление письма, нужно просто иметь готовый бланк письма и шаблоны писем. С нашими образцами оформление делового письма станет максимально быстрым. В то же время вы не потеряете в качестве, как это часто бывает при поспешной работе.</p>
                <p>Типовые письма, которые вы найдете у нас, составлены грамотно, соблюдены все правила оформления писем. Как писать деловые письма быстро? Если вы ищете ответ на этот вопрос, то он прост: используя наши шаблоны писем! Как сделать так, чтобы деловое письмо было готово в максимально сжатые сроки, но было написано качественно? Просто взять пример делового письма с нашего сайта!</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td width="20" height="10"><img src="http://rocid.ru/images/mailing/icomf12/blank.gif" width="20" height="10"></td>
              <td></td>
              <td width="20" height="10"><img src="http://rocid.ru/images/mailing/icomf12/blank.gif" width="20" height="10"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td border="0" style="border:none;">
          <map id="map2" name="map2"><area shape="rectangle" coords="260,0,460,55" href="http://2012.i-comference.ru" alt="Подробнее" /></map>
          <img width="710" src="http://rocid.ru/images/mailing/icomf12/icomf_footer.jpg" usemap="#map2"/>
        </td>
      </tr>
    </table>
  </body>
</html>