.DS_Store
.idea
nbproject
*.iml
runetid-pass.txt
out
logs
*.log
protected/modules/pay/data/
composer.phar
vendor
composer.lock
protected/modules/event/views/mail/register/rif14/
www/img/event/rif15/ticket/car_rendered/
