.DS_Store
.idea
nbproject
*.iml
runetid-pass.txt
out
logs
*.log
protected/modules/pay/data/
composer.phar
vendor
composer.lock
protected/modules/event/views/mail/register/rif14/
www/upload/
www/stylesheets/partner.css
www/stylesheets/pixel-admin/custom.css
www/images/temp/
data
config/db.php
www/assets/
config/db.local.php