<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
	<testsuites>
		<testsuite name="core-base">
			<directory>framework</directory>
		</testsuite>
	</testsuites>
</phpunit>