/**
Наши стили
**/
.m-bottom_5  {margin-bottom: 5px  !important;}
.m-bottom_10 {margin-bottom: 10px !important;}
.m-bottom_20 {margin-bottom: 20px !important;}
.m-bottom_30 {margin-bottom: 30px !important;}
.m-bottom_40 {margin-bottom: 40px !important;}

.m-top_5  {margin-top: 5px  !important;}
.m-top_10 {margin-top: 10px !important;}
.m-top_20 {margin-top: 20px !important;}
.m-top_30 {margin-top: 30px !important;}
.m-top_40 {margin-top: 40px !important;}

a:focus{
  outline: none;
}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

/**
 * Главная страница / Мероприятия
 */

.logo-box .white {
    background: #ffffff;
    margin: 0 auto 10px;
    padding: 5px;
    width: 90px;
}
.logo-box .white  a{
  display: table-cell;
  vertical-align: middle;
  width: 90px;
  height: 75px;
  text-align: center;
}

/**
Обновить соответствующие стили в application.css по окончании разработки
**/
.b-event-promo .social .b-share__handle {
  margin: 0 3px !important;
}
.b-event-promo .social .b-share-icon {
  background: url('/images/icon-social-small.png') no-repeat !important;
}

.b-event-promo .social .b-share-icon_vkontakte {
  background-position: -80px 0 !important;
}
.b-event-promo .social .b-share-icon_facebook {
  background-position: -16px 0 !important;
}
.b-event-promo .social .b-share-icon_twitter {
  background-position: -48px 0 !important;
}
.b-event-promo .social .b-share-icon_facebook:hover {
  background-position: 0 0 !important;
}
.b-event-promo .social .b-share-icon_vkontakte:hover {
  background-position: -64px 0 !important;
}
.b-event-promo .social .b-share-icon_twitter:hover {
  background-position: -32px 0 !important;
}

#event-register .ui-autocomplete {
  position: absolute;
  width: 0;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  list-style-type: none;
}
#event-register .ui-autocomplete .ui-menu-item a {
  position: relative;
  min-height: 60px;
  padding: 6px 8px;
  display: block;
  color: #333;
  font-size: 13px;
  text-decoration: none;
}
#event-register .ui-autocomplete .ui-menu-item:not(:last-child) a {
  border-bottom: 1px solid #e6e6e6;
}
#event-register .ui-autocomplete .ui-menu-item a.ui-state-focus {
  background: #eee;
  cursor: pointer;
}
#event-register .ui-autocomplete .ui-menu-item a p {
  margin-right: 70px;
  margin-bottom: 0;
}
#event-register .ui-autocomplete .ui-menu-item a img {
  position: absolute;
  top: 6px;
  right: 8px;
  border: 1px solid #e6e6e6;
}
#event-register .user-row .last-child .alert {
  position: absolute;
  width: 221px;
  margin-top: 5px;
  font-size: 12px !important;
}
#event-register .user-row .alert {
  margin-bottom: 0;
}

.event-register .table .user-row:last-child > td:first-child {background: none !important;}
.event-register .errorSummary .container {
  border: 0 !important;
}
.event-register .alert.alert-block {
  margin-left: 40px;
  margin-right: 40px;
}
.errorSummary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.job header h4{
  height: 60px;
  overflow: hidden;
}
.job article p{
  height: 140px;
  overflow: hidden;
}
.event-register .table .input-promo > input{
  width: 100px;
}


.event-page article ul li{
  margin-bottom: 5px;
}

.user-account .b-participated .i {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.user-account .b-participated .i .popup {
  position: absolute;
  top: -4px;
  right: -4px;
  left: -4px;
  z-index: 999;
  display: none;
  min-height: 100%;
  border: 4px solid #333;
}
.user-account .b-participated .i .popup .cnt {margin-top: 81px;}

.user-account .b-participated .img {
  vertical-align: middle;
  max-width: 120px;
  border: 0;
}
.user-account .b-participated .cnt {
  padding: 9px 10px 1px;
  background: #f2f2f2;
  font-size: 11px;
  line-height: 13px;
}
.user-account .b-participated .a {
  display: inline-block;
  margin-bottom: 10px;
}
.user-account .b-participated .event-link {
  border: 1px solid #f2f2f2;
  display: table-cell;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  width: 138px;
}


/**
Кнопки
**/
.actions .uniteller {
  background-image: url(/img/pay/uniteller.png);
  background-repeat: no-repeat;
  background-position: 140px 5px;
  padding-right: 100px;
}
  .actions .btn-primary.uniteller {
    background-image: url(/img/pay/uniteller_white.png);
  }
  
.actions .payonline {
  background-image: url(/img/pay/payonline.png);
  background-repeat: no-repeat;
  background-position: 140px 8px;
  padding-right: 110px;
}
  .actions .btn-primary.payonline {
    background-image: url(/img/pay/payonline_white.png);
  }


/**
Кроп изображений
**/
.imgcrop-140 {
  display: block;
  height: 140px;
  position: relative;
  overflow: hidden;
  width: 140px;
}

.imgcrop-140 img {
  position: absolute;
}

/*** ошибки  */
#error-page .error-500 {background: url(/images/page-500.png) 0 0 no-repeat;}

input.error {
  border-color: #B94A48 !important;
}
.user-account .b-participated .cnt .tx a {
  text-decoration: underline;
}
.user-account .b-participated .cnt a.a:hover{
  text-decoration: none;
}
.user-account .b-participated .popup .cnt a.a {
  margin-top: 1px;
}
.user-account .b-participated a.event-link.text {
  color: #999 !important;
  padding: 0 5px;
  font-size: 12px;
} 

.user-career-item {
  padding: 10px;
}
.user-career-item .form-row > .form-inline > label{
  margin-left: 10px;
}
.user-career-item.primary {
  background-color: #EFFFE8;
}

li.ui-menu-item > a.ui-state-focus {
  background: #0081C2;
  background-image: linear-gradient(to bottom, #0088CC, #0077B3);
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-decoration: none;
}

.ico16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
}
.ico16_social {
  background-image: url('/img/ico_social.png');
  background-repeat: no-repeat;
}
.ico16_social__facebook {
  background-position: 0 0;
}
.ico16_social__twitter {
  background-position: -16px 0;
}
.ico16_social__vkontakte {
  background-position: -32px 0;
}
.ico16_social__google {
  background-position: -48px 0;
}
