.clear-indents {
  padding: 0;
  margin: 0;
}
.m-bottom_0 {
  margin-bottom: 0 !important;
}
.m-top_5 {
  margin-top: 5px !important;
}
.m-top_10 {
  margin-top: 10px !important;
}
.m-top_20 {
  margin-top: 20px !important;
}
.m-top_30 {
  margin-top: 30px !important;
}
.m-bottom_5 {
  margin-bottom: 5px !important;
}
.m-bottom_20 {
  margin-bottom: 20px !important;
}
.errorSummary .alert ul {
  list-style: none none;
  padding: 0;
  margin: 0;
}
.text-nowrap {
  white-space: nowrap !important;
}
input.select2-input {
  width: auto !important;
}
.lead-sm {
  font-size: 14px !important;
}
