html, body {
	margin: 0;
  padding: 0 30px;
}

a {
  color: #2159d6;
  text-decoration: none;
}

a.green {
  background: #008000;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
}

/* NAVIGATION */

.navigation {
  background-color: #eee;
  border-bottom: 1px #999999 solid;
  clear: both;
  height: 47px;
}

.navigation ul {
  font-family: Georgia, "Times New Roman";
  margin: 0;
  padding: 0;
}

.navigation li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a, .navigation a:visited {
  color: #333333;
  display: block;
  font-size: 18pt;
  padding: 9px 18px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* end NAVIGATION */

/* CONTENT */

.content h1 {
  color: #f2a700;
  font-family: Georgia, "Times New Roman";
  font-size: 26pt;
  margin-bottom: 0;
}

.content {
  font-family: Verdana, Tahoma;
  font-size: 10pt;
  margin-top: 20px;
}

/* end CONTENT */

/* FORM */

form table.dashed td {
  border-bottom: 1px dashed #000000;
  padding: 12px 10px;
}

form label {
  display: block;
  font-weight: bold;
}

form input {
  margin: 3px 0;
  width: 99%;
}

/* end FORM */