table.news div.date { width: 4em; padding: 8px 0; background: #808080; color: #ffffff; text-align: center; font-size: 80%; line-height: 0.9; }
table.news div.date span { display: block; font-size: 13pt; font-weight: bold;  padding-bottom: 3px;  }
.news h1 { border-bottom: 1px solid #E8E8E8; color: #707070; font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; margin: 0 0 5px; }
.news h2 { clear: top; color: #808080; font-size: 18px; font-weight: normal; margin: 10px 0 3px; }
.news h3 { border: none; color: #505050; font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: normal; margin: 0; }

.program h2 { border: none; color: #505050; font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: normal; margin: 0; }
.program a { text-decoration: none; }
.abbr, .title, .description { margin-bottom: 10px; }
.abbr { font-size: 9px; }
.title { font-size: 14px; font-weight: bold; }
.description { font-size: 9px; }
sup, .company { color: #808080; }

table.registration { color: #969696; }
.reg_role { background-color: #F8F3C0; font-size: 24px; margin: 5px 0; padding: 15px; cursor: pointer; width: 300px; }
.reg_msg { background-color: #F8F3C0; margin: 10px 0; padding: 15px; }
.reg_error { background: #FFC0C0; border: 1px solid #FF8080; color: #800000; margin-bottom: 20px; padding: 10px; width: 400px; }
.reg_ok { background: #EBF4E1; border: 1px solid #D8EBC7; color: #008000; margin-bottom: 20px; padding: 10px; width: 400px; }