table.list                { border: 0; width: 100%; }
table.list th             { color: #808080; font-size: 10px; padding: 3px 6px; text-transform: uppercase; white-space: nowrap; }
table.list td             { border-top: 1px solid #D4DCE1; padding: 15px 6px; vertical-align: top; }
table.list h2             { color: #505050; font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: normal; margin: 0 0 6px 0; }
table.list .detail        { background: #909090; color: #ffffff; padding: 3px 6px; text-decoration: none; }
table.list .reg           { background: #f1a400; color: #ffffff; padding: 3px 6px; text-decoration: none; }
table.list .date          { background: #eaedee; text-align: center; }
table.list .date span     { color: #505050; display: block; font-weight: bold; margin: 0 0 6px 0; }
table.list .subitem td    { border-top: 1px solid #D4DCE1; padding: 10px 6px 15px; }
table.list .last td       { padding: 10px 6px; }
table.list .subitem h2    { font-size: 12px; font-weight: bold; margin: 0 0 3px 0; }

.calendar                 { background: #f1a400; border: 1px solid #004a80; color: #ffffff; font-size: 14pt; margin: 60px auto auto 100px; padding: 15px 0 15px 15px; position: absolute; visibility: hidden; z-index: 999; }
.calendar a               { color: #ffffff; display: block; float: left; margin-right: 15px; }