h5 { font-size: 18px; font-weight: normal; margin: 3px 0; }
table { font-size: 11px; margin: 3px 0; }

#group h1 { border-bottom: 1px solid #E8E8E8; color: #808080; font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; margin: 0 0 5px; }
#group h2 { clear: top; color: #808080; font-size: 18px; font-weight: normal; margin: 10px 0 3px; }
#group h3 { border: none; color: #505050; font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: normal; margin: 0; }
#group .item { margin-bottom: 20px; }
#group .info { border-top: 1px solid #D4DCE1; color: #808080; font-size: 9px; margin: 4px 0; padding: 5px 0 3px; }
#group .info a { color: #808080; }
#group .info .links { float: right; font-weight: bold; }
#group .more { margin: 5px 0 25px; }
#group .end { border-top: 1px solid #D4DCE1; margin: 15px 0; }
#group .bar { margin-bottom: 15px; }
#group .summary { border: 0; width: 100%; }
#group .summary td { border-bottom: 1px solid #E0E0E0; }
#group .control { list-style: none; margin: 15px 0; padding: 0; }
#group .control li { float: left; margin: auto 3px; padding: 2px 6px; }

#mailer { background: #F0F0F0; border: 3px solid #D0D0D0; border-top: 20px solid #D0D0D0; margin-left: 80px; margin-top: 60px; padding: 8px; position: absolute; width: 660px; }
#mailer input, #mailer textarea { padding: 2px 3px; width: 99%; }

#editPost,
#editComment { color: #585858; font-size: 11px; font-style: italic; margin: 8px 0; }

/*#left { padding: 8px 10px; width: 170px; }*/
#left h6 { border-bottom: 1px solid; color: #505050; font-size: 12px; font-weight: bold; margin: 0 5px 0 0; }
#left .info { color: #808080; font-size: 9px; margin: 8px 0 0; }

#files { background: #F0F0F0; border-left: 5px solid #D0D0D0; padding: 8px 10px; }
#files h4 { margin: 0 0 10px; }
#files .fileItem { margin: 0 0 10px; }

#discus { margin: 20px 0 0 0; }
#discus ul.tree { list-style: none; margin: 0; padding: 0; }
#discus ul.tree ul { list-style: none; margin-left: 20px; padding: 0; }
#discus ul.tree li { list-style: none; margin: 12px 0; }
#discus ul.tree p { margin: 4px 0; }

#last-discuss .item { margin: 8px 0; }
#last-discuss .date { color: #808080; font-size: 10px; }
#last-discuss .text { color: #585858; font-size: 10px; }