html, body { font-family: Verdana, sans-serif; font-size: 11px; margin: 0px; padding: 0px; position: relative; text-align: center; }
a { color: #36548B; }
a.dashed { border-bottom: 1px dashed; text-decoration: none; }

img, div { behavior: url('/templates/js/iepngfix.htc') }

#header { border: 0; margin: 0 auto 10px auto; width: 800px; }

#topLogo { padding: 20px 0; text-align: left; }
#topInfo { color: #969696; text-align: right; vertical-align: bottom; }
#topInfo a { color: #969696; }

#topMenu { height: 40px; padding: 0; text-align: right; vertical-align: bottom; }
#topMenu ul { list-style-type: none; margin: 0; padding: 0; text-align: right; }
#topMenu ul li { float: right; list-style-type: none; margin: 0 5px 5px 5px; }
#topMenu ul li a { color: #36548b; text-decoration: none; }
#topMenu ul li a:hover { text-decoration: underline; }

div.edit_block { background: #FFF8DC; border: 1px dashed #FFFFFF; color: #7D7D7D; padding: 5px; }
div.interests { color: #A0A0A0; margin-top: 15px; }
div.interests a { color: #A0A0A0; }
div.interests div { font-weight: bold; }
div.log_save_error { background: #FFC0C0; border: 1px solid #FF8080; color: #800000; margin: 3px 0 15px 210px; padding: 10px; }
div.log_save_ok { background: #EBF4E1; border: 1px solid #D8EBC7; color: #008000; margin: 3px 0 15px 210px; padding: 10px; }
div.solo { margin-left: 150px; }
div.left_nav { padding-bottom: 5px; border: 0px solid #d9d9d9;}

form { padding-bottom: 1px; }
label { cursor: pointer; }
h2 { margin-top: 0; }
h3 { border-bottom: 1px solid; font-size: 12px; font-weight: bold; margin: 0 5px 0 0; }
hr.spanner { border: 0; border-top: 1px solid #E0E0E0; height: 1px; }
td.subtitle { color: #7D7D7D; font-weight: bold; padding-top: 10px; }

.ajax-loading { background: url(/images/spinner.gif) no-repeat center; padding: 20px 0; }
.clear { clear: both; }
.data { font-size: 11px; vertical-align: top; width: 75%; }
.data select, .label select, .data input, .data textarea { background: #F0F4F7; border: 1px solid #CAD2D7; font-size: 12px; padding: 2px; }
                             .data input, .data textarea { width: 50%; }
.simple_data select, .simple_label select, .simple_data input, .simple_data textarea { background: #F0F4F7; border: 1px solid #CAD2D7; font-size: 12px; padding: 2px; }

.left_block { background-color: #F0F4F7; color: #4B4B4B; margin-bottom: 20px; padding: 5px 10px; }
.left_block p { margin: 3px auto 6px auto; }
.margin_bottom { margin-bottom: 10px; }
.margin_top { margin-top: 10px; }
.nav { list-style: none; margin: 0; padding: 0; }
.nav li { display: inline; float: left; }
.nav li a { background: #4682B4; border: 1px solid #32628B; color: #FFFFFF; cursor: pointer; display: block; font-family: "Lucida Grande",Verdana,sans-serif; margin-right: 10px; padding: 3px 6px; text-decoration: none; }

.pageNavigator12 { font-size: 12px; }
.pageNavigator11 { font-size: 11px; }
.pageNavigator10 { font-size: 10px; }
.pageNavigator12, .pageNavigator11, .pageNavigator10 { margin: 0.5px; padding: 1px 3px; text-align: center; float: left; cursor: pointer; }
.pageNavigator12:hover, .pageNavigator11:hover, .pageNavigator10:hover { background-color: #e9e9e9; }
.pageNavigator12 a, .pageNavigator11 a, .pageNavigator10 a { text-decoration: none; }

/* PHOTO */
.photoLabel { margin-right: 2px; }
.photoNav { width: 98px; }
.photoInfo { color: #7D7D7D; margin: 2px 10px 10px 20px; }
.photoInfo input { background: #ffffff; border: 1px solid #d0d0d0; font-size: 12px; color: #7D7D7D; }
.photoError { margin-top: 15px; text-align: center; }
a.photoTag { text-decoration: none; }
a:hover.photoTag { text-decoration: underline; }
/* END */

.thumbnail { border: 1px solid #e0e0e0; margin: 10px 5px; padding: 5px; text-align: center; background-color: #FFFFFF; cursor: pointer; width: 170px; float: left; }
.thumbnail a { text-decoration: none; }
.thumbnail a p { margin-top: 3px; margin-bottom: 0; }
.thumbnail:hover { border-color: #32628B; }

.birthday { margin: 8px 0; padding: 2px; border: 1px solid #E0E0E0; background-color: #FFFFFF; font-size: 9px; }

.projInfo { padding-top: 4px; width: 550px; }
.projInfo .projItem { margin: 15px 0 3px 95px; }
.projInfo .projImg { margin: 5px auto auto -92px; position: absolute; text-align: center; width: 80px; }
.projInfo h4 { border: 0; color: #f1a400; font-size: 18px; margin: 0; }
.projInfo h4.extra { border-left: 1px solid #ffe5af; margin-left: -6px; padding-left: 6px; }
.projInfo div.extra { border-left: 1px solid #ffe5af; margin-left: -6px; padding: 6px 0 6px 6px; }
.projInfo .projLink { background: url('/images/more.info.png') right no-repeat; cursor: pointer; }
.projInfo .projLink:hover { background: url('/images/more.info-hover.png') right no-repeat; }

#center { display: block; margin-left: 210px; position: relative; }
#center h3 { border-bottom: 1px solid #DCDCDC; color: #4B4B4B; font-weight: bold; margin-top: 20px; padding: 1px 2px; }
#center h3 a { color: #D0D0D0; float: right; font-size: 10px; font-weight: normal; text-decoration: none; }
#container { display: block; margin: 0 auto; position: relative; text-align: left; width: 800px; }
#footer { border-top: 1px solid #D4DCE1; color: #969696; display: block; height: 50px; margin: 25px auto; padding: 10px 15px; text-align: left; width: 770px; }

#left { float: left; left: 0px; position: relative; width: 190px; }

#main_block { float: left; overflow: hidden; width: 350px; }
#navigation { background: transparent url('/images/hidden-tile.gif') repeat-x; border-top: 2px solid #004A80; clear: both; color: #48502D; display: block; font-size: 12px; margin: 0; padding: 0 0 4px 0; text-align: left; width: 800px; }
#navigation a:hover { text-decoration: underline; }
#navigation .search { color: #50622E; float: right; padding: 4px 2px; margin: 2px 0; }
#navigation .search input { background: #F0F0F0 url('/images/icons/search.png') no-repeat 2px 1px; border: 1px solid #ACACAC; color: #ACACAC; font-size: 11px; margin: -2px auto; padding: 3px 3px 3px 24px; width: 230px; }
#navigation ul li { list-style-type: none; margin: 0 5px 0 0; padding: 0; float: left; font-size: 14px; font-weight: bold; text-align: center; }
#navigation ul li a { background: #004A80; color: #FFFFFF; display: block; padding: 4px 15px; text-decoration: none; }
#navigation ul { list-style-type: none; margin: 0; padding: 0; }

/* PHOTO */
#photoNavigation { border-top: 1px solid #d0d0d0; clear: both; color: #000000; display: block; font-size: 12px; margin: 0; padding: 0 0 10px 0; text-align: left; width: 800px; }
#photoNavigation a:hover { text-decoration: underline; }
#photoNavigation ul li { border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; list-style-type: none; margin: 0 0 0 2px; padding: 0; float: right; font-size: 11px; font-weight: normal; text-align: center; }
#photoNavigation ul li a { background: #efefef; color: #004A80; display: block; padding: 2px 10px; text-decoration: none; }
#photoNavigation ul { list-style-type: none; margin: 0; padding: 0; }
/* END */

#right_block { float: right; overflow: hidden; width: 210px; }
#subNavigation { border-bottom: 1px solid #D4DCE1; height: 20px; margin-bottom: 5px; }
#subNavigation a { color: #32628B; display: block; float: left; margin: 0 0 2px 3px; padding: 3px 8px; font-size: 12px; text-decoration: none; }
#subNavigation a.active { background: #D4DCE1; }
#subNavigation a:hover { background: #EAEDEE; }

#userCard .friends img { border: 2px solid #EBEBEB; margin: 2px 4px; }
#userCard .label { color: #7D7D7D; font-size: 11px; vertical-align: top; width: 80px; }
#userCard h3 { border-bottom: 1px solid #E8E8E8; color: #808080; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; margin-top: 15px; }
#userCard h3.userName { border: none; color: #505050; font-size: 24px; margin: 0; }
#userCard fieldset { margin: 10px 0; border: 1px solid #d9d9d9; }
#userCard fieldset legend { color: #808080; font-weight: normal; font-size: 18px; }

#userEdit .label { color: #7D7D7D; font-size: 11px; padding-top: 3px; text-align: right; vertical-align: top; width: 140px; }
#userEdit .msg_label { color: #7D7D7D; font-size: 11px; text-align: right; vertical-align: top; width: 140px; }
#userEdit .drag { cursor: move; margin-left: 530px; padding: 15px; position: absolute; }
#userEdit fieldset { margin: 10px 0; border: 1px solid #d9d9d9; }
#userEdit fieldset legend { color: #808080; font-weight: normal; font-size: 18px; }

table.lite { border: 0; width: 100%; }
table.lite td { border-top: 1px solid #F0F0F0; padding: 6px; }

table.message_list { border: 0; width: 100%; }
table.message_list th { font-size: 10px; text-transform: uppercase; background: #F0F0F0; }
table.message_list td { border-top: 1px solid #F0F0F0; }

div.blogTitles { background: #F0F4F7; margin-top: 15px; padding: 8px 10px; text-align: left; }
div.blogTitles h6 { border-bottom: 1px solid; color: #505050; font-size: 12px; font-weight: bold; margin: 0 5px 0 0; }
div.blogTitles .info { color: #808080; font-size: 9px; margin: 8px 0 0; }