fieldset { border: 1px solid #d9d9d9; }
table.list th{ background-color: #D0D0D0; color: #808080; font-weight: bold; text-align: center; height: 20px; }
table.list td { border-bottom: 1px solid #F0F0F0; padding: 1px; }

.header { border: 0; margin: 0 auto 10px auto; width: 100%; }
.logo { padding: 20px; text-align: left; }
.stat { color: #969696; margin: 10px; text-align: left; float: left; }
.hint { cursor: help; }
.container { display: block; margin: 0 5px; position: relative; text-align: left; }
.footer { border-top: 1px solid #D4DCE1; color: #969696; display: block; height: 50px; margin: 25px auto; padding: 10px 15px; text-align: left; }

.navigation { background: transparent url('/templates/images/hidden-tile.gif') repeat-x; border-top: 1px solid #004A80; clear: both; color: #48502D; display: block; font-size: 12px; margin: 0; padding: 0 0 4px 0; text-align: left; width: 100%; }
.navigation a:hover { text-decoration: underline; }
.navigation ul li { list-style-type: none; margin: 0 5px 0 0; padding: 0; float: left; font-size: 14px; font-weight: bold; text-align: center; }
.navigation ul li a { background: #004A80; color: #FFFFFF; display: block; padding: 4px 15px; text-decoration: none; }
.navigation ul { list-style-type: none; margin: 0; padding: 0; }

.butt { background: #4682B4; border: 1px solid #32628B; color: #FFFFFF; cursor: pointer; padding: 3px 6px; }

.listHeader { background-color: #D0D0D0; color: #808080; font-weight: bold; text-align: center; height: 14px; }
.highlight:hover { background-color: #C1FBC1; }

.fieldTitle { color: #7D7D7D; text-align: right; }
#person { text-align: right; color: #505050; font-size: 12px; font-weight: bold; }