table#rooms th, table#rooms td {
  text-align: center;
  vertical-align: middle;

  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
}

.hidden-room {
  background-color: #f3f1fa;
  opacity: 0.6;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
}