table#rooms th, table#rooms td {
  text-align: center;
  vertical-align: middle;

  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
}

.hidden-room {
  background-color: #f3f3f3;
}

.exclude-room {
  background-color: #ffd0d0;
}