#preloader {
  background: url("/images/api/widget-preloder.gif") no-repeat scroll center center #FFFFFF;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
  display: none;
}

.input-user {
  width: 85%;
  padding-right: 20px !important;
}

#widget-pay .dropdown-menu a{
  white-space: normal;
}