body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#widget-register table.products {}
#widget-register table.products .title {text-transform: uppercase;}
#widget-register table.products th {
  color: #999;
  font-size: 11px;
}
#widget-register table.products td {
  vertical-align: middle;
  font-size: 13px;
}
#widget-register table.products tr td:last-child {
  width: 100px;
}
#widget-register table.products td select {
  width: auto;
  margin-bottom: 0;
}
#widget-register table.products td .number {font-size: 14px;}
#widget-register table.products td .form-element_select {
  margin: 0;
  font-size: 13px;
}
#widget-register table.products .col-width {width: 80px;}
#widget-register table.products .total {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f7f7f7;
}
#widget-register table.products .total span {text-transform: uppercase;}