body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#widget-registration table td:first-child,
#widget-registration table th:first-child {
    padding-left: 30px;
}

#widget-registration table td:last-child,
#widget-registration table th:last-child {
    padding-right: 30px;
}

#widget-registration th.col-width,
#widget-registration td.col-width {
    width: 90px;
    white-space: nowrap;
}

#widget-registration table .total {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f7f7f7;
    font-size: 16px;
}

#widget-registration table td {
    vertical-align: middle;
    font-size: 13px;
}

@media only screen and (max-device-width: 736px) {
    .container-fluid {
        padding-right: 4px;
    }
}

@media (max-width: 700px) {
    #widget-registration table td:first-child,
    #widget-registration table th:first-child {
        padding-left: 10px;
    }

    #widget-registration table td:last-child,
    #widget-registration table th:last-child {
        padding-right: 10px;
    }
}