/*********************************************************
* Стили из PixelAdmin
**********************************************************/
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
#main-navbar .navbar-brand {
  float: none;
  height: 46px !important;
  padding: 0 15px;
  font-size: 18px;
  line-height: 46px;
}
#main-navbar .navbar-brand > img {
  display: inline;
}
input,
select,
textarea {
  border-radius: 2px !important;
}
/*********************************************************
* TABLES
**********************************************************/
.table {
  margin-bottom: 18px;
}
thead a {
  color: #ffffff;
  font-weight: bold;
}
thead a:hover,
thead a:focus {
  color: #ffffff;
  text-decoration: none;
}
thead a.asc:after,
thead a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  padding-left: 5px;
}
thead a.asc:after {
  content: "\f160";
}
thead a.desc:after {
  content: "\f161";
}
thead td > .form-control {
  border: 0;
}
.table-bordered > thead > tr > td {
  border-left-color: #3da1bf;
  border-right-color: #3da1bf;
}
/* Выравнивание данные по середине ячеек в таблицах */
.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
/*********************************************************
* INPUTS
**********************************************************/
.required > label:after {
  content: "\00a0*";
  color: #e66454;
}
input[type="text"].lg {
  height: 39px;
}
/*********************************************************
* OTHER
**********************************************************/
.nav-tabs-panel-heading {
  border-bottom: 0;
}
@media (max-width: 1200px) {
  #content-wrapper {
    min-width: 970px !important;
  }
  #main-wrapper {
    overflow: auto !important;
  }
}
