.b-event-promo > .container { padding: 0 !important; }

/** GM2013 **/
.b-event-promo.gm2013 {
  background: #000;
}
.b-event-promo.gm2013 > .container{
  background: #000 url('/img/event/gm2013/header-bg.jpg') no-repeat center center;
  height: 261px;
}

/** User Experience Russia 2013 **/
.b-event-promo.userexp2013 {
  background: #fff;
}
.b-event-promo.userexp2013 > .container{
  background: #fff url('/img/event/userexp2013/header-bg.jpg') no-repeat center center;
  height: 200px;
}

/* Fall Session 2013 */
.b-event-promo.fallsession2013 {
  background: #fff;
}
.b-event-promo.fallsession2013 > .container{
  background: #fff url('/img/event/fallsession2013/header-bg.png') no-repeat center center;
  height: 200px;
}

/* Marketing Party 2013 */
.b-event-promo.marketingparty2013 {
  background: #000;
}
.b-event-promo.marketingparty2013 > .container{
  background: #000 url('/img/event/marketingparty2013/header-bg.jpg') no-repeat center center;
  height: 221px;
}