.event-page-fullwidth .registration .participant-info span.label.label-success {
    font-size: 18px;
    line-height: 36px;
    padding: 3px 8px 6px;
}

.event-page-fullwidth .registration .participant-info p {
    margin-bottom: 2px;
}

.event-page-fullwidth .registration .participant-info p a {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}