<!DOCTYPE HTML>
<html>
  <head>
    <title>-ЛИЧНЫЙ КАБИНЕТ- / -RUNET-ID-</title>
    <!--#include virtual="_head.html" -->
  </head>
  <body id="user-account">
    <!--#include virtual="_noscript.html" -->
    <!--#include virtual="_header-user-account.html" -->

    <section id="section" role="main">
      <h2 class="b-header_large light">
        <div class="line"></div>
        <div class="container">
          <div class="title">
            <span class="backing runet">Runet</span>
            <span class="backing text"><?=\Yii::t('app', 'Профиль пользователя')?></span>
          </div>
        </div>
      </h2>

      <div class="user-account">
        <div class="clearfix">
          <div class="container">
            <div class="b-card">
              <h5 class="b-header_small medium">
                <span class="backing">Runet</span>
                <span class="backing">ID</span>
              </h5>
              <div class="row">
                <div class="span3">
                  <img src="/images/content/account-avatar_large.jpg" width="238" height="238" alt="" class="avatar">
                </div>
                <div class="span8">
                  <div class="row">
                    <div class="span4 b-details">
                      <b class="id">354017</b>
                      <header>
                        <h4 class="title">
                          Константин Константинович<br><span class="family-name">Константинопольский</span>
                        </h4>
                        <small class="muted">34 года, Москва</small>
                      </header>
                      <div class="b-job">
                        <header>
                          <h6 class="title company">Microsoft</h6>
                        </header>
                        <article>
                          <p class="text post">Руководитель отдела разработки</p>
                        </article>
                      </div>
                      <div class="b-interests">
                        <header>
                          <h6 class="title">Профессиональные интересы</h6>
                        </header>
                        <article>
                          <p class="text">Аналитика, Веб-разработка / Технологии / API, Геосервисы, Государство и общество, Инвестиции и стартапы</p>
                        </article>
                      </div>
                      <div class="event-rank">Менеджер высшего уровня</div>
                      <div class="b-raec">
                        <img src="/images/content/raec-logo_small.jpg" alt="РАЭК" class="logo">
                        <p class="text">Член РАЭК<br>Сопредседатель комиссии<br>Эксперт комиссии</p>
                      </div>
                    </div>
                    <div class="span4 b-contacts">
                      <dl class="dl-horizontal">
                        <dt>Сайт:</dt>
                        <dd><a href="http://www.raec.ru">www.raec.ru</a></dd>
                      </dl>
                      <dl class="dl-horizontal">
                        <dt>Facebook:</dt>
                        <dd><a href="#">konstantinopolskiy</a></dd>
                      </dl>
                      <dl class="dl-horizontal">
                        <dt>Skype:</dt>
                        <dd>konstantinopolskiy</dd>
                      </dl>
                      <dl class="dl-horizontal">
                        <dt>ICQ:</dt>
                        <dd>123456789</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="b-statistics">
            <h4 class="b-header_large light">
              <div class="line"></div>
              <div class="container">
                <div class="title">
                  <span class="backing text">Центр компетенций / Профессиональная активность</span>
                </div>
              </div>
            </h4>
            <div class="container">
              <div class="row">
                <div class="span10 offset1">
                  <div class="row">
                    <div class="tests span4">
                      <header>
                        <h5>Пройти тест</h5>
                      </header>
                      <div class="i">
                        <header class="h">
                          <div class="number img-circle">1</div>
                          <h6 class="t"><a href="#">Тест для SMM-специалистов</a></h6>
                        </header>
                        <article class="cnt">
                          <p class="tx">Умные люди давно поняли: общение в социальных сетях – это не только интересно, но и полезно. А мудрые поняли, что полезно оно может быть не только для них, но и для их компаний, бизнеса или проекта.</p>
                        </article>
                      </div>
                      <div class="i">
                        <header class="h">
                          <div class="number img-circle">2</div>
                          <h6 class="t"><a href="#">Тест на специалиста по онлайн-рекламе</a></h6>
                        </header>
                        <article class="cnt">
                          <p class="tx">Вы много слышали о seo, контексте и других видах онлайн-рекламы? Или немного, но этого хватило, чтобы всерьез заинтересовать Вас? Вы хотите заниматься продвижением в Интернете, но не знаете с чего начать?</p>
                        </article>
                      </div>
                      <div class="i">
                        <header class="h">
                          <div class="number img-circle">3</div>
                          <h6 class="t"><a href="#">Тест для SMM-специалистов</a></h6>
                        </header>
                        <article class="cnt">
                          <p class="tx">Умные люди давно поняли: общение в социальных сетях – это не только интересно, но и полезно. А мудрые поняли, что полезно оно может быть не только для них, но и для их компаний, бизнеса или проекта.</p>
                        </article>
                      </div>
                      <div class="i">
                        <header class="h">
                          <div class="number img-circle">4</div>
                          <h6 class="t"><a href="#">Тест на специалиста по онлайн-рекламе</a></h6>
                        </header>
                        <article class="cnt">
                          <p class="tx">Вы много слышали о seo, контексте и других видах онлайн-рекламы? Или немного, но этого хватило, чтобы всерьез заинтересовать Вас? Вы хотите заниматься продвижением в Интернете, но не знаете с чего начать?</p>
                        </article>
                      </div>
                    </div>
                    <div class="events span4 offset2">
                      <header>
                        <h5>Принять участие в&nbsp;ближайших мероприятиях</h5>
                      </header>
                      <div class="i">
                        <hr>
                        <div class="date"><b>13-20</b> сентября</div>
                        <header class="h">
                          <h5 class="t"><a href="#" class="event-color_4">Как получать больше результатов, тратя меньше времени и денег в контекстной рекламе</a></h5>
                        </header>
                        <article class="cnt">
                          <p class="tx muted">Санкт-Петербург</p>
                        </article>
                        <footer class="f">
                          <a href="#"><i class="icon-circle-arrow-right"></i>Посетить мероприятие</a>
                        </footer>
                      </div>
                      <div class="i">
                        <hr>
                        <div class="date"><b>5</b> августа</div>
                        <header class="h">
                          <h5 class="t"><a href="#" class="event-color_2">Интернет-магазин с нуля: от идеи до стабильных продаж</a></h5>
                        </header>
                        <article class="cnt">
                          <p class="tx muted">Москва</p>
                        </article>
                        <footer class="f">
                          <a href="#"><i class="icon-circle-arrow-right"></i>Посетить мероприятие</a>
                        </footer>
                      </div>
                      <div class="i">
                        <hr>
                        <div class="date"><b>13-20</b> сентября</div>
                        <header class="h">
                          <h5 class="t"><a href="#">Как получать больше результатов, тратя меньше времени и денег в контекстной рекламе</a></h5>
                        </header>
                        <article class="cnt">
                          <p class="tx muted">Санкт-Петербург</p>
                        </article>
                        <footer class="f">
                          <a href="#"><i class="icon-circle-arrow-right"></i>Посетить мероприятие</a>
                        </footer>
                      </div>
                      <div class="i">
                        <hr>
                        <div class="date"><b>5</b> августа</div>
                        <header class="h">
                          <h5 class="t"><a href="#">Интернет-магазин с нуля: от идеи до стабильных продаж</a></h5>
                        </header>
                        <article class="cnt">
                          <p class="tx muted">Москва</p>
                        </article>
                        <footer class="f">
                          <a href="#"><i class="icon-circle-arrow-right"></i>Посетить мероприятие</a>
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all">
                <a href="#">Все тесты</a> / <a href="#">Календарь мероприятий</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <script type="text/template" id="chart-item-template">
      <div class="item">
        <div class="info">
          <div class="val"><%= value %></div>
          <div class="description">В качестве <b><%= role%></b></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="single-chart-item-template">
      <div class="item">
        <span class="val"><b><%= value %></b>%</span>
        <span class="description"><%= role %></span>
      </div>
    </script>

    <!--#include virtual="_footer.html" -->
  </body>
</html>