 <div id="userCard">
    <table cellspacing="6" style="border: 0; width: 100%;">
      <tr>
        <td style="padding-right: 10px; vertical-align: top;" align="center">
          <div style="border: 1px solid #d9d9d9; margin-bottom: 10px; padding: 5px;">
            <img src="/files/photo/{$this->photo_src}" alt="{$this->lastname} {$this->firstname} {$this->fathername} (rocID={$this->rocid})" />{$this->photo_edit_link}
          </div>
          $this->rate
          <div style="border: 0px dotted #e0e0e0; text-align: left;">
            $this->photo_more_link
            $this->profile_edit_link
            $this->settings_link
            $this->invite_link
            $this->message_link
          </div>
          $this->blog_titles
        </td>
        <td class="data">
          <h3 class="userName">{$this->lastname} {$this->firstname} {$this->fathername} <sup>{$this->rocid}</sup>&nbsp;{$this->gift_img}</h3>
          <table cellspacing="6" style="border: 0;">
            <tr>
              <td class="label">Регион:</td>
              <td>{$this->location}</td>
            </tr>
            <tr>
              <td class="label">Возраст:</td>
              <td>{$this->birthday}</td>
            </tr>
          </table>
          <fieldset><legend>Контактная информация</legend>
            <table cellspacing="6" style="border: 0;">
              <tr>
                <td class="label">Сайт:</td>
                <td>{$this->home_url}</td>
              </tr>
              {$this->services}
            </table>
          </fieldset>
          <fieldset><legend>Профессиональный опыт</legend>
            <table cellspacing="6" style="border: 0; width: 100%;" id="contentWorks">
              {$this->works}
            </table>
          </fieldset>
          <fieldset><legend>Участие в профильных мероприятиях</legend>
            <div class="projInfo">{$this->activity}</div>
          </fieldset>
          <fieldset><legend>Проекты, публикации, "следы" в сети</legend>
            <table cellspacing="6" style="border: 0;" id="contentActivity">
              {$this->projects}
            </table>
          </fieldset>
        </td>
      </tr>
    </table>
  </div>
