.table tr.form {
    display: none;
}

.table tr.form > td {
    padding-top: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFUlEQVQImWNgQAOPHz/+T3UBBgYGAL+IEklz7bqmAAAAAElFTkSuQmCC);
}
