h4 {
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

hr {
    margin-top: 15px;
}

#widget-registration table.participants th {
    background: #53a953;
    border: 1px solid #518d51;
    border-bottom-width: 2px;
}

#widget-registration table.participants th h4 {
    color: #fff;
}

#widget-registration table.participants tr td {
    border-bottom: 1px solid #e4e4e4;
}

#widget-registration table.participants tr td:first-child {
    border-left: 1px solid #e4e4e4;
}

#widget-registration table.participants tr td:last-child {
    border-right: 1px solid #e4e4e4;
}
