#widget-registration p.future-price {
    padding: 0;
    margin: 0 0 3px;
    font-size: 11px;
}

#widget-registration p.future-price strong {
    font-size: 13px;
}

#widget-registration p.future-price:first-child {
    margin-top: 10px;
}