.form-filter .switch-layout a {
  width:  26px;
  height: 16px;
}

#header .navbar .brand {margin-top: -2px;}

.b-events .event footer .i-event_small {filter: alpha(opacity=10);}

.b-event-promo .logo {margin: -25px 0 0 -50px;}
.b-event-promo .all {margin-left: -63px;}

.events-month-select .nav {filter: alpha(opacity=25);}

.events-list .event {margin-top: 80px;}
.events-list .event:first-child {margin-top: 0;}
.events-list .event.past {filter: alpha(opacity=33);}
.events-list .event .type .i-event_medium {filter: alpha(opacity=25);}

.events-list .event footer a {
  margin-left: 20px;
  color: #999;
}
.events-list .event footer a:first-child {
  margin-left: 0;
  color: #08c;
}
.events-list .event footer a i {filter: alpha(opacity=25);}
.events-list .event footer a:first-child i {filter: alpha(opacity=100);}

.event-page .sidebar > div {margin-bottom: 40px;}

.event-page .photos .thumbs .thumb.current {filter: alpha(opacity=25);}

.event-register .table .icon-remove {
  filter: alpha(opacity=50);
  margin-left: -25px;
}
.event-register .table .input-promo.filled {filter: alpha(opacity=25);}
.event-register .table .input-promo.filled:hover {filter: alpha(opacity=100);}
.event-register .table th.last-child,
.event-register .table td.last-child {padding-right: 40px;}
.event-register .table tr.user-row.last-child > td:first-child {background: url(/images/icon-plus.png) transparent 14px center no-repeat;}

.event-register .actions .btn.paypal {white-space: nowrap;}

.user-account .b-card .tabs .nav li {margin-left: 40px;}
.user-account .b-card .tabs .nav li:first-child {margin-left: 0;}

.company-account .b-card .follow .btn {margin-left: -140px;}

.charts-pie.items .item {margin: -45px 0 0 -45px;}

#footer .b-social .item {
  width: 16px;
  height: 16px;
  float: left;
}
#search-footer .form-element_text {line-height: 30px;}