.event-pay-item {
    border: 1px solid #ddd;
    margin-bottom: 37px;
    padding: 10px 20px;
}

.event-pay-item table.table {
    width: 100%;
    margin: 0 auto;
}

.event-pay-item > h4 {
    background: #fff;
    margin-top: -23px;
    margin-left: -5px;
    display: table;
    padding: 0 5px;
}

.event-pay-item td.event-pay-item_title {
    width: 500px;
}

.event-pay-item td.event-pay-item_price {
    width: 1px;
    text-align: right;
    white-space: nowrap;
}

.event-pay-item td.text-right {
    text-align: right !important;
}